.chatcard-container {
  display: flex;
  flex-direction: column;

  .chatcard-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0.4rem 0;

    .sender {
      font-size: 1.2rem;
      font-weight: lighter;
      text-transform: capitalize;
    }

    .timestamp {
      color: grey;
      font-size: 0.8rem;
      margin: 0 1rem;
    }
  }

  .chatcard-text {
    width: 100%;
    color: black;
    font-size: 1rem;
  }
}
