.navigation-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: 0 20px;
  height: 100%;

  h4 {
    text-transform: uppercase;
    margin: 0 20px;
  }

  .logout-button {
    margin-left: auto;
    margin-right: 0;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
  }
}
