.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 1rem;
  overflow: hidden;
  .nav-profile-container {
    text-align: left;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: left;

    h5 {
      text-transform: capitalize;
      margin: 0;
    }

    h6 {
      margin: 0.5rem 0;
    }

    .nav-profile-room {
      text-transform: uppercase;
      text-emphasis: bold;
      font-size: 0.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .edit-icon {
        cursor: pointer;
      }
    }
  }

  .nav-header {
    padding: 20px;
    text-transform: capitalize;
    margin: 0;
  }

  .user-list-card {
    margin: 20px 0;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    padding: 10px 20px;
  }

  .nav-menu-container {
    display: flex;
    flex-direction: row;

    .nav-menu {
      padding: 0.5rem;
      box-sizing: border-box;
      text-transform: uppercase;
      background: white;
      color: black;
      font-family: "Source Sans Pro";
      border: none;
      font-size: 0.8rem;
      font-weight: bolder;
      display: inline-block;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .rooms {
      width: 80%;
    }

    .add-icon {
      width: 20%;
      cursor: pointer;
      height: 2.5rem;
    }
  }

  .nav-menu-cards {
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
