.chat-view-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  @media only screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 480px) {
    font-size: 0.7rem;
  }

  .left-view-container {
    width: 30%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .right-view-container {
    width: stretch;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;

    .chatroom-options {
      height: 5%;
      display: flex;
      flex-direction: row;
      padding: 0 1rem;
      align-items: center;
      border-bottom: 1px solid black;

      h5 {
        margin: 0 2rem;
        @media only screen and (max-width: 768px) {
          margin: 0.7rem;
          font-size: 0.5rem;
        }
        @media only screen and (max-width: 480px) {
          margin: 0.5rem;
        }
      }

      .menu-icon {
        height: 1rem;
        cursor: pointer;
      }

      .settings-icon {
        cursor: pointer;
        margin-right: 0rem;
        margin-left: auto;
        height: 1.5rem;
      }
    }
    .chatroom-screen {
      width: 100%;
      height: 100%;
      text-align: left;
      justify-content: right;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      overflow-y: auto;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }

    .chatroom-input {
      display: flex;
      flex-direction: row;
      height: 7%;

      .chatroom-text-input {
        width: 80%;
        padding: 1rem;
        box-sizing: border-box;
        outline: none;
      }

      .submit-button {
        width: 20%;
        height: 100%;
        letter-spacing: 0.5px;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: "Source Sans Pro";
        font-weight: bolder;
        border: none;

        @media only screen and (max-width: 480px) {
          font-size: 0.7rem;
          padding: 0.5rem;
        }

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: black;
        color: white;

        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
}
