.chat-view-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  .left-view-container {
    width: 20%;
  }

  .right-view-container {
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
}
